@using System.Web.UI.WebControls
@using Humanizer
@using Microsoft.AspNet.Identity
@using TheFinalProject.Models
@model TheFinalProject.Models.SearchVM



 <div class="searchbar">
    @using (Html.BeginForm("GeneralView", "Home", FormMethod.Get))
    {

        <label>
            Search by Location
            <br />
            @Html.TextBox("zipcode", "", new { PlaceHolder = "Search by ZipCode Here" })
            <input type="submit" value="Search" />
        </label>
            <br />
            <label>
                Filter Tools by
                <br />
               
                @Html.RadioButton("option", "Title")
                <text>Tool</text>
                <br />
                <text>or</text>
                <br />
                
                @Html.RadioButton("option", "Description")
                <text> Description </text>
                <br />
                @Html.TextBox("Search", "", new { PlaceHolder = "Search Tools" })
            </label>
            <input type="submit" value="Filter" />
    }

</div>

        
            


















<div class="listgeneral">
    <div >
        <div>

            <ul>

                @foreach (var item in Model.SearchTools)
            {
                    <li> <img style="height: 300px;" src="@item.Photo" /></li>


                    <li> @Html.DisplayFor(modelItem => item.Title) </li>

                    <li>@Html.DisplayFor(modelItem => item.Description)</li>


                    <li>@item.CategoryName</li>

                    <li> @Html.DisplayFor(modelItem => item.ZipCode)</li>

                    if (item.UserId == User.Identity.GetUserId())
                    {
                        <li><a href="#"> @Html.ActionLink("Your Profile", "Profile", new { Id = item.UserId }, "Home")</a></li>
                    }
                    else
                    {
                        <li><a href="#"> @Html.ActionLink(item.UserEmail, "Profile", new { Id = item.UserId }, "Home")</a></li>
                    }

                    if (item.UserId != User.Identity.GetUserId() && Model.Following.All(x => x.UserId != item.UserId))
                    {
                        <li><a href="#"><input type= "button" data-id="@item.UserId" value="Follow My WorkShop" class="adduser" /></a></li>
                    }

                    if (Model.Following.Any(x => x.UserId == item.UserId))
                    {
                        <li>   Following Workshop</li>
                    }

                    if (item.UserId != User.Identity.GetUserId() && Model.Workbench.All(x => x.ToolId != item.ToolId))
                    {
                        <li  class="lastitem"><a href="#"> <input type="button" data-id="@item.ToolId" value="Add To Workbench" class="addtool" /></a></li>
                    }
                    if (Model.Workbench.Any(x => x.ToolId == item.ToolId))
                    {
                        <li class="lastitem">In Workbench</li>
                    }
                    if (item.UserId == User.Identity.GetUserId())
                    {
                        <li class="lastitem">This is your tool </li>
                    }
                }




            </ul>
        </div>
    </div>
</div>
<div class ="workbench">
    <table>
        <h1>Your Workbench</h1>
        @foreach (var item in Model.Workbench)
        {
            <tr>
                <td>@item.Title</td>
                
                <td><img style="width: 50px;" src="@item.Photo" /></td>
                <td>@Html.ActionLink($"{item.UserEmail} ", "Profile", new { Id = item.UserId })</td>
                <td></td>
                <td><a href="#"  class="button"><input type="button" data-id="@item.ToolId" value="Remove" class="removetool"/></a></td>
            </tr>
        }
    </table>
</div>


@*<tr>

        <td>@item.Title</td>
        <td> <img style="width: 100px;" src="@item.Photo"/></td>
        <td>
            <div class="textdiv">
                @Html.DisplayFor(x => item.Description)
            </div>
        </td>
        <td> <input type="button" data-id="@item.ToolId" value="fuck this" class="removetool"/></td>
    </tr>*@

@*</table>*@

@section scripts {
    <script>
        $(".addtool").click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: "POST",
                data: { id: id },
                url: '@Url.Action("AddWorkbench","Home")'
            }).done(function () {
                location.reload(true);
            });

        });

        $(".removetool").click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: "POST",
                data: { id: id },
                url: '@Url.Action("RemoveWorkBench","Home")'
            }).done(function () {
                location.reload(true);
            });

        });

        $(".removeuser")
         .click(function () {
             var id = $(this).data('id');
             $.ajax({
                 type: "POST",
                 data: { id: id },
                 url: '@Url.Action("RemoveFollowing", "Home")'
             })
                 .done(function () {
                     location.reload(false);
                 });

         });

        $(".adduser")
    .click(function () {
        var id = $(this).data('id');
        $.ajax({
            type: "POST",
            data: { id: id },
            url: '@Url.Action("AddtoFollowing", "Home")'
        })
            .done(function () {
                location.reload(false);
            });

    });

    </script>
}
