@using Microsoft.AspNet.Identity
@using TheFinalProject.Models
@model TheFinalProject.Models.SearchVM
<div class="row-sm-1 ">
    <tr>
        @using (Html.BeginForm("GeneralView", "Home", FormMethod.Get))
        {
            //the following are search options

            <b> Search : </b>
            @Html.RadioButton("option", "Title")
            <text>Title</text>
            @Html.RadioButton("option", "Category")
            <text> Category </text>
            @Html.RadioButton("option", "ZipCode")
            <text>ZipCode</text>
            @Html.TextBox("search")
            <input type="submit" value="Filter" />
        }
    </tr>
</div>
<div class="col-xs-8 profilepanel">
    <table class="table">
        <tr>
            <th>
                Photo
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Is Available
            </th>
            <th>
                Zip Code
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.SearchTools)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @if (item.userId != User.Identity.GetUserId())
                    {
                        <td> <input type="button" data-id="@item.ToolId" value="add this shit" class="addtool"/></td>
                    }
                    else
                    {
                        <td>This is your tool</td>
                    }
                </tr>
        }
    </table>
</div>
<div class="profilepanel">
    <table>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Available</th>
        </tr>
        @foreach (var item in Model.Workbench)
            {
            <tr>
                <td>@item.Title</td>
                <td>@item.Photo</td>
                <td>@item.Description</td>
                <td> <input type="button" data-id="@item.ToolId" value="fuck this" class="removetool" /></td>
            </tr>
        }
    </table>
</div>
@section scripts {
    <script>
        $(".addtool").click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: "POST",
                data: { id: id },
                url: '@Url.Action("AddWorkbench","Home")'
            }).done(function () {
                location.reload(true);
            });

        });

        $(".removetool").click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: "POST",
                data: { id: id },
                url: '@Url.Action("RemoveWorkBench","Home")'
            }).done(function () {
                location.reload(true);
            });

        });

    </script>
}
