@using Humanizer
@using Microsoft.AspNet.Identity
@using TheFinalProject.Models
@model TheFinalProject.Models.SearchVM
<div class="row-sm-1 ">
    <tr>
        @using (Html.BeginForm("GeneralView", "Home", FormMethod.Get))
        {


            <b> Search : </b>
            @Html.RadioButton("option", "Title")
            <text>Title</text>
            @Html.RadioButton("option", "Category")
            <text> Category </text>

            @Html.TextBox("search", "search")
            @Html.TextBox("zipcode", "zip code")

            <input type="submit" value="Filter" />
        }
    </tr>



</div>
<div class="col-xs-8 profilepanel">
    <table class="table">
        <tr>
            <th>
                Photo
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
           
            </th>
            <th>
                Owner
            </th>
            <th>
                Zip Code
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.SearchTools)
        {
            <tr>

                <td>
                    <img style="width: 100px;" src="@item.Photo" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <div class="textdiv">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    @if (item.UserId == User.Identity.GetUserId())
                    {
                       @Html.ActionLink("Your Profile", "Profile", new { Id = item.UserId },"Home");
                    }
                    else
                    {
                        @Html.ActionLink(item.UserEmail, "Profile", new { Id = item.UserId }, "Home");
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>

                    @if (item.UserId != User.Identity.GetUserId() && Model.Workbench.All(x => x.ToolId != item.ToolId))
                    {
                    <td> <input type="button" data-id="@item.ToolId" value="add this shit" class="addtool" /></td>
                    }
                    @if (Model.Workbench.Any(x => x.ToolId == item.ToolId))
                    {
                        <td>In Workbench</td>
                    }
                    @if (item.UserId == User.Identity.GetUserId())
                    {
                        <td>This is your t</td>
                    }


                </tr>


        }
    </table>
</div>
<div class="col-xs-3 profilepanel">
    <table>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Available</th>
        </tr>
        @foreach (var item in Model.Workbench)
            {
            <tr>
                <td>@item.Title</td>
                <td>    <img style="width: 100px;" src="@item.Photo" /></td>
                <td>
                    <div class="textdiv">
                        @Html.DisplayFor(x => item.Description)
                    </div>
                </td>
                <td> <input type="button" data-id="@item.ToolId" value="fuck this" class="removetool" /></td>
            </tr>
        }
    </table>
</div>
@section scripts {
    <script>
        $(".addtool").click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: "POST",
                data: { id: id },
                url: '@Url.Action("AddWorkbench","Home")'
            }).done(function () {
                location.reload(true);
            });

        });

        $(".removetool").click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: "POST",
                data: { id: id },
                url: '@Url.Action("RemoveWorkBench","Home")'
            }).done(function () {
                location.reload(true);
            });

        });

    </script>
}
