@model TheFinalProject.Models.SearchVM

@using (Html.BeginForm("GeneralView", "Home", FormMethod.Get))
{
    //the following are search options

    <b> Search : </b>
    @Html.RadioButton("option", "Title")
    <text>Title</text> @Html.RadioButton("option", "Category")
    <text> Category </text>
    @Html.RadioButton("option", "ZipCode"
        )<text>ZipCode</text>
        @Html.TextBox("search")
        <input type="submit" name="submit" value="Search" />
}
<div class="col-xs-8 profilepanel">
    <table class="table">
        <tr>
            <th>
                Photo
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Is Available
            </th>
            <th>
                Zip Code
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.SearchTools)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.ActionLink("Add to Workbench", "AddWorkBench/" + @item.ToolId)
                </td>
            </tr>
        }
    </table>
</div>
    <div class="profilepanel">
        <table>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Available</th>
            </tr>
            @foreach (var item in Model.Workbench)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Photo</td>
                    <td>@item.Description</td>
                    <td>@Html.ActionLink("Remove ", "RemoveWorkBench/" + @item.ToolId)</td>
                </tr>
            }
        </table>
    </div>

