@using System.Data
@using Microsoft.AspNet.Identity
@using TheFinalProject.Models
@model TheFinalProject.Models.ProfileVm
@{
    ViewBag.Title = "Profile";
}


<div class="profile header">
    <div class="jumbotron">
        @if (Model.Email == User.Identity.Name)
        {
            <h1>
                Your Workshop
            </h1>

             <h1>@Html.ActionLink("Add a Tool", "CreateTool")</h1>



        }
        else
        {
            <h1> Welcome to</h1>
            <h1> @Model.Email's</h1>
            <h1> Workshop</h1>
        }

    </div>
</div>

<div >
    <div class="row">

        <div class="profilesidebar textdiv">


            <h2>@Model.Email</h2>

            <h4>@Model.Phone</h4>
            <h4>@Model.City, @Model.State</h4>
            <h4>@Model.Zip</h4>
       
            
                @foreach (var item in Model.Following)
                {
                    if (Model.Email == User.Identity.Name)
                    {
                     
                            <h3>@Html.ActionLink($"{item.Email} ", "Profile", new { Id = item.UserId }) </h3> <input type="button" data-id="@item.UserId" value="Unfollow" class="removeuser" />
                            
                    }
                
                }
        </div>
    </div>


  

      
            <div class="profilelist">

           

                <table>

                    <tr>
                        <th><span></span></th>
                        <th><span></span></th>
                        <th><span></span></th>
                        <th><span></span></th>
                        <th><span></span></th>


                    </tr>
                    @foreach (var item in Model.MyTools)
                    {

                        <tr>
                            <td>@item.Title</td>
                            <td><img style="width: 100px;" src="@item.Photo"/></td>
                            <td>
                                <div class="textdiv">@item.Description</div>
                            </td>
                            <td>@item.CategoryName</td>
                            <td>@item.ZipCode</td>



                            @if (item.UserId != User.Identity.GetUserId() && Model.Workbench.All(x => x.ToolId != item.ToolId))
                            {
                                <td  id="profilelist"> <input type="button" data-id="@item.ToolId" value="Add to Workbench" class="addtool"/></td>
                            }
                            @if (Model.Workbench.Any(x => x.ToolId == item.ToolId))
                            {
                                <td  id="profilelist">In Workbench</td>
                            }
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            @if (item.UserId == User.Identity.GetUserId())
                            {
                                <td>@Html.ActionLink("Edit Tool ", "EditTool", new {Id = item.ToolId})</td>
                                <td>@Html.ActionLink("Delete Tool", "DeleteTool", new {Id = item.ToolId})</td>
                            }

                        </tr>
                    }
                </table>
</div>

        </div>
        <div class="row">
            <div class="workbench">
                <table>
                    <tr>
                        <div>
                            <h1>Your WorkBench</h1>
                        </div>
                    </tr>
                    @foreach (var item in Model.Workbench)
            {
                        <tr>
                            <td>@Html.ActionLink($"{item.Title} ", "Profile", new { Id = item.UserId })</td>
                            <td><img style="width: 58px;" src="@item.Photo" /></td>
                            <td>
                          
                            </td>
                            <td class="button"><a href="#"> <input type="button" data-id="@item.ToolId" value="Remove" class="removetool"/></a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
 











    @section scripts{
        <script>

            $(".removetool")
                .click(function () {
                    var id = $(this).data('id');
                    $.ajax({
                        type: "POST",
                        data: { id: id },
                        url: '@Url.Action("RemoveWorkBench", "Home")'
                    })
                        .done(function () {
                            location.reload(true);
                        });

                });
            $(".addtool")
                .click(function () {
                    var id = $(this).data('id');
                    $.ajax({
                        type: "POST",
                        data: { id: id },
                        url: '@Url.Action("AddWorkbench", "Home")'
                    })
                        .done(function () {
                            location.reload(true);
                        });

                });

            $(".removeuser")
              .click(function () {
                  var id = $(this).data('id');
                  $.ajax({
                      type: "POST",
                      data: { id: id },
                      url: '@Url.Action("RemoveFollowing", "Home")'
                  })
                      .done(function () {
                          location.reload(true);
                      });

              });

            $(".adduser")
        .click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: "POST",
                data: { id: id },
                url: '@Url.Action("AddtoFollowing", "Home")'
            })
                .done(function () {
                    location.reload(true);
                });

        });

        </script>
    }
