@using TheFinalProject.Models
@model TheFinalProject.Models.ProfileVM
@{
    ViewBag.Title = "Profile";
}



<div class="jumbotron">
    <h1>
        Your Workshop
    </h1>
    @Html.ActionLink("Click Here to Start Renting", "GeneralView", "Home")
</div>

<div class="row">
    <div class="profilepanel">

        <h4>@Model.Email</h4>
        <img src="@Model.Photo"/>
        <h4>@Model.Phone</h4>
        <h4>@Model.City, @Model.State</h4>
        <h4>@Model.Zip</h4>

    </div>

    <div class="profilepanel">
        @Html.ActionLink("New Tool", "CreateTool")
        <table>
            <tr>
                <th>Title</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Category</th>
                <th>Available</th>
                <th>ZipCode</th>
                <th>City</th>

            </tr>
            @foreach (var item in Model.MyTools)
            {
                <tr>
                    <td>@item.Title</td>
                    <td><img style="width: 100px;" src="@item.Photo" /></td>
                    <td>@item.Description</td>
                    <td>@item.CategoryName</td>
                    <td>@item.ZipCode</td>
                    <td>@item.IsAvailable</td>
                  
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>@Html.ActionLink("Edit Tool ", "EditTool", new {Id = item.ToolId})</td>
                    <td>@Html.ActionLink("Delete Tool", "DeleteTool", new {Id = item.ToolId})</td>
                </tr>
            }
        </table>

    </div>
    <div class="profilepanel">
        <table>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Available</th>
            </tr>
            @foreach (var item in Model.Workbench)
            {
                <tr>
                    <td>@item.Title</td>
                    <td><img style="width: 100px;" src="@item.Photo" /></td>
                    <td>@item.Description</td>
                    <td>  <input type="button" data-id="@item.ToolId" value="fuck this" class="removetool" /></td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts{
    <script>
        
        $(".removetool").click(function () {
            var id = $(this).data('id');
            $.ajax({
                type: "POST",
                data: { id: id },
                url: '@Url.Action("RemoveWorkBench","Home")'
            }).done(function () {
                location.reload(true);
            });

        });

    </script>
}